<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-3.0.xsd" 
			default-lazy-init="true">

    <!--  Apache Orchestra config.
    1. initialization of all orchestra modules (required for core15 module)
     -->
    <import resource="classpath*:/META-INF/spring-orchestra-init.xml" />

    <!-- 2. the conversation scopes -->
    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
      <property name="scopes">
        <map>
          <entry key="conversation.manual">
            <bean class="org.apache.myfaces.orchestra.conversation.spring.SpringConversationScope">
              <property name="timeout" value="30" />
            </bean>
          </entry>

          <entry key="conversation.access">
            <bean class="org.apache.myfaces.orchestra.conversation.spring.SpringConversationScope">
              <property name="timeout" value="30" />
              <property name="lifetime" value="access"/>
            </bean>
          </entry>
        </map>
      </property>
    </bean>
    
    <!--Security	
  	<import resource="applicationContext-security.xml" />
	 -->  
	<!--Controller Layer-->  	
  	<import resource="applicationContextController.xml" />
  	
  	<!--Report Layer
  	<import resource="applicationContextReport.xml" />
  	
  	
  	<import resource="applicationContextCommon.xml" />
  	
  
  	<import resource="applicationContextService.xml" />
  	
  
  	<import resource="applicationContextDAO.xml" />
  	
  
  	<import resource="applicationContextMock.xml" />
  	
  	
  	<import resource="applicationContextValidationHandler.xml" />
  	
  
  	<import resource="applicationContextValidation.xml" />
  	
  
  	<import resource="applicationContextDelegate.xml" />
  	
  	
  	<import resource="applicationContextProcess.xml" />
    -->  

</beans>
